html {
  font-family: 'Prompt', sans-serif;
  color: #EEEEEE;
  background-color: black;
}

.page-container {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 98vh;
  width: 100%;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 4%;
  left: 2.5%;
  background-color: #00000000;
  height: 90vh;
  width: 95%;
}

.container::before,
.container::after {
  position: absolute;
  width: 50%;
  height: 30%;
  content: '';
}

.container::before {
  left: 0;
  top: 0;
  border-left: 4px solid #4ECCA3;
  border-top: 4px solid #4ECCA3;

}

#video-container {
  top: 0%;
  left: 0%;
  margin: 0;
  padding: 0;
  height: 95vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 98vh;
  z-index: 0;
  opacity: 39%;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.container::after {
  right: 0;
  bottom: 0;
  border-right: 4px solid #4ECCA3;
  border-bottom: 4px solid #4ECCA3;
}

.name {
  position: relative;
  bottom: 5%;
  left: 3%;
  font-size: 5.5rem;
  font-weight: 100;
  letter-spacing: .075rem;
  margin-bottom: 0;
  padding: .5rem;
  z-index: 10;
}

.title {
  position: relative;
  left: 3%;
  bottom: 5%;
  z-index: 10;
  font-weight: 100;
  margin: 0 1.5rem;
}

.title-icon {
  height: 1.1rem;
}

.location {
  position: relative;
  left: 3%;
  bottom: 4%;
  z-index: 10;
  font-weight: 100;
  margin: 0 1.5rem;
  font-style: italic;

}

.location-icon {
  font-size: 1.5rem;
  padding-top: 3px;
}

.socials {
  position: absolute;
  width: 1rem;
  right: 5%;
  top: 5%;
  z-index: 11;
}

.socials a {
  font-size: 1.5rem;
  padding: .1rem;
  margin: 0.1rem;
  width: 1rem;
  color: rgba(255, 255, 255, .3);
  transition: all .5s;
  cursor: pointer;
  display: block;

}

.socials a:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.2);
}

.tabs {
  position: relative;
  top: 0;
  left: -2%;
  width: max-content;
}

#nav-icon {
  position: relative;
  font-size: 1.5rem;
  top: .35rem;
  transition: all .35s linear;
  color: transparent;
}

.tabs .nav {
  list-style-type: none;
  position: relative;
  left: 0%;
  font-size: 2rem;
  font-weight: 200;
  padding: 0;
  margin: 1.5rem;
  width: 100%;
}

.tabs a:hover {
  font-style: italic;
}

.tabs a:hover #nav-icon {
  width: 20%;
}

.tabs .active #nav-icon {
  width: 20%;
}

li.nav:link {
  color: #EEEEEE;
  text-decoration: none;
}

li.nav:visited {
  color: #EEEEEE;
  text-decoration: none;
}

.tabs .active {
  color: #4ECCA3;
  font-style: italic;
  transition: color .25s;
}

#no-display {
  display: none;
}

.about {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 1.1rem;
  font-weight: 100;
  width: 50%;
  color: white;

}

.projects {
  position: absolute;
  right: 8%;
  bottom: 5%;
  padding: 0;
  z-index: 20;
}

.projects-list {
  list-style-type: none;
  padding: 0;
}

.project {
  max-height: 4rem;
  margin: 2.5rem .5rem;
  padding: 0;
  transition: all .25s ease-out;
  pointer-events: none;
}

.project:hover {
  max-height: 6rem;
  padding-right: 1rem;

}

.project-top {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

a.project-title {
  font-size: 3.5rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  line-height: 4rem;
  pointer-events: auto;
  display: flex;
  float: inline-end;
  width: max-content;
}

a.project-title:visited {
  color: #EEEEEE;
}

a.project-title:hover {
  color: #4ECCA3;
}

.project-bottom {
  visibility: hidden;
  transition: all .35s;
  display: flex;
  pointer-events: auto;
  justify-content: flex-end;
}

.project-description {
  color: transparent;
  font-weight: 100;
  transition: color .35s;
  margin: 0 .5rem;
  padding-left: 1rem;
  pointer-events: auto;
}

.project:hover .project-bottom {
  visibility: visible;
}

.project:hover .project-description,
.project:hover .repo-link {
  color: #EEEEEE;
}

.repo-link {
  color: transparent;
  transition: color .35s;
  text-decoration: none;
  margin-left: .5rem;
  z-index: 100;
}

.repo-link:hover {
  font-style: italic;
}

.photography-container {
  position: absolute;
  bottom: 2%;
  right: 2%;
  margin: 0;
  padding: 0;
  height: 55vh;
  width: 65%;
}

.photography {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  right: 0;
  z-index: 10;
  bottom: 0;
  height: 55vh;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
}

.gradient {
  position: absolute;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  right: 0;
  bottom: 0;
  height: 55vh;
  width: 15%;
  z-index: 11;
}

.row {
  display: flex;
  justify-content: flex-start;
  width: 40%;
  margin: -2.5rem .5rem;
  padding: 1rem;
}

#top-row {
  align-items: start;
}

#bottom-row {
  align-items: end;
}

.photo {
  position: relative;
  max-width: 16rem;
  max-height: 16rem;
  margin: .2rem;
  transition: all .25s;
  z-index: 10;
  cursor: pointer;
}

.photography .photo:hover {
  transform: scale(1.1);
  z-index: 11;
}

.active-box {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 300;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 90vh;
  background-color: #000000ce;
  border: 2pt solid rgb(60, 60, 60);
  border-radius: 1%;
}

.active-box img {
  position: relative;
  z-index: 400;
  max-width: 90%;
  max-height: 80vh;
}

.active-box button {
  position: absolute;
  top: 3%;
  right: 2%;
  background-color: #4ECCA3;
  color: white;
  border: none;
  height: 1.5rem;
  width: 1.6rem;
  cursor: pointer;
}

.active-box button:hover {
  border: 1pt solid white;
}

.contact {
  position: absolute;
  z-index: 10;
  width: 30%;
  left: 45%;
  bottom: 15%;
  list-style-type: none;
}

.contact a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 2rem;
  font-size: 3rem;
  border-radius: 5pt;
  height: 7vh;
  width: 85%;
  color: #EEEEEE;
  cursor: pointer;
  background: transparent;
  border: 2pt solid #EEEEEE;
  transition: all .5s;
}

.contact a:hover {
  color: #4ECCA3;
  border: 2pt solid #4ECCA3;
  background-position: left;
}

.welcome-page {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 100;
}

.welcome-text {
  width: 15%;
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.welcome-text h4 {
  font-size: 2rem;
}

.first-name {
  font-weight: 100;
}

.last-name {
  font-weight: 400;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.fade-in-2 {
  opacity: 0;
  animation: fadeIn 2.5s ease-in forwards;
}

.welcome-page.display-none {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -10;
  opacity: 0;
  transition: all .5s linear;
}

@media only screen and (min-width: 520px) and (max-width: 767px) {
  .name {
    font-size: 3rem;
    padding-top: 2rem;
  }

  .title {
    font-size: 1rem;
    margin: 0;
    left: 4%;
  }

  .location {
    font-size: 1rem;
    margin: 0;
  }

  .title-icon {
    height: .75rem;
    margin-right: .2rem;
  }

  .location-icon {
    height: 1rem;
    padding-left: .1rem;
  }

  .tabs {
    top: 25%;
    left: -10%;
  }

  .tabs .nav {
    font-size: 1.5rem;
  }

  .projects {
    bottom: 15%;
    left: 40%;
    width: 100%;
  }

  .project {
    margin: 1rem;
  }

  a.project-title {
    font-size: 2rem;
  }

  .project-bottom {
    flex-direction: column;
  }

  .project-description {
    font-size: .75rem;
    margin: 0;
    padding: 0;
  }

  .repo-link {
    font-size: .75rem;
  }

  .photography-container {
    height: 42vh;
    width: 90%;
    left: 36%;
    bottom: 10%;
  }

  .photography {
    right: 35%;
    z-index: 10;
    top: 45%;
    height: 42vh;
    width: 100%;
  }

  .gradient {
    top: 45%;
    right: 34%;
    height: 42vh;
    width: 20%;
    z-index: 11;
  }

  .contact-list {
    left: 37%;
    bottom: 10%;
    width: 45%;
  }

  .contact-list a {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 519px) {
  .name {
    font-size: 2rem;
    padding-top: 2rem;
  }

  .title {
    font-size: .65rem;
    margin: 0;
    left: 5.9%;
  }

  .location {
    font-size: .65rem;
    margin: 0;
  }

  .title-icon {
    height: .55rem;
    margin-right: .2rem;
  }

  .location-icon {
    height: .75rem;
    padding-left: .1rem;
  }

  .socials {
    right: 0;
    top: 0;
    z-index: 11;
  }

  .socials a {
    font-size: .8rem;
  }

  .tabs {
    left: -10%;
    top: -5%;
  }

  .tabs .nav {
    font-size: .8rem;
    margin: .5rem;
  }

  .about {
    font-size: .75rem;
  }

  .project {
    margin: 1rem;
    height: 2rem;
  }

  .project:hover {
    height: 3rem;
  }

  a.project-title {
    font-size: .9rem;
    margin: 0;
    padding: 0;
  }

  .project-bottom {
    flex-direction: column;
  }

  .project-description {
    font-size: .35rem;
    margin: 0;
    padding: 0;
  }

  .repo-link {
    font-size: .35rem;
  }

  .photography-container {
    height: 40vh;
    width: 90%;
  }

  .photography {
    height: 40vh;
  }

  .photo {
    position: relative;
    max-width: 6rem;
    max-height: 6rem;
    margin: 1rem .2rem;
    transition: all .25s;
    z-index: 10;
    cursor: pointer;
  }

  .gradient {
    height: 40vh;
    width: 20%;
    z-index: 11;
  }

  .contact {
    left: 20%;
    bottom: 5%;
    width: 45%;

  }

  .contact a {
    font-size: 1.1rem;
    height: 2rem;
    margin: 1rem;
  }
}