html {
  font-family: 'Prompt', sans-serif;
  color: #EEEEEE;
  background: linear-gradient(-45deg, #000000, #515151, #000000, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
  position: relative;
  background-color: #00000012;
  height: 88vh;
  padding: 2rem;
  margin: 2vh;
}

.container::before,
.container::after {
  position: absolute;
  width: 50%;
  height: 30%;
  content: '';
}

.container::before {
  left: 0;
  top: 0;
  border-left: 4px solid #4ECCA3;
  border-top: 4px solid #4ECCA3;

}

.container::after {
  right: 0;
  bottom: 0;
  border-right: 4px solid #4ECCA3;
  border-bottom: 4px solid #4ECCA3;
}

.name {
  position: relative;
  font-size: 4.5rem;
  font-weight: 300;
  letter-spacing: .075rem;
  margin-bottom: 0;
  z-index: 10;
}

.title {
  position: relative;
  z-index: 10;
  font-weight: 100;
  margin: 0 1.5rem;
}

.title-icon {
  height: 1.1rem;
}

.location {
  position: relative;
  z-index: 10;
  font-weight: 100;
  margin: 0 1.5rem;
  font-style: italic;

}

.location-icon {
  font-size: 1.5rem;
  padding-top: 3px;
}

.socials {
  position: relative;
  width: 1rem;
  left: 97%;
  bottom: 25%;
  z-index: 11;
}

.socials a {
  font-size: 1.5rem;
  padding: .1rem;
  margin: 0.1rem;
  width: 1rem;
  color: rgba(255, 255, 255, .3);
  transition: all .5s;
  cursor: pointer;
  display: block;

}

.socials a:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.2);
}

nav {
  position: absolute;
  top: 35%;

}

nav ul li {
  list-style-type: none;
  position: relative;

}

#nav-icon {
  position: relative;
  font-size: 1.5rem;
  top: .35rem;
  transition: all .5s;
}

nav ul li:hover #nav-icon {
  font-stretch: 2rem;
  width: 3rem;

}

a.nav:link {
  color: #EEEEEE;
  text-decoration: none;
}

a.nav:visited {
  color: #EEEEEE;
}

.about {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 1.1rem;
  width: 35%;
}

.projects {
  position: relative;
  left: 55%;
  bottom: 19%;
  padding: 0;
  z-index: 100;
  width: 40%;
}

.projects-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.project {
  max-height: 4rem;
  max-width: 100%;
  margin: 3rem .5rem;
  padding: 0;
  transition: all .25s ease-out;
}

.project:hover {
  max-height: 8rem;
  padding-left: 1rem;

}

a.project-title {
  font-size: 4rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: font-size .25s;
  text-decoration: none;
  line-height: 4rem;
}

a.project-title:visited {
  color: #EEEEEE;
}

a.project-title:hover {
  color: #4ECCA3;
  font-size: 4.1rem;
}

.project-bottom {
  visibility: hidden;
  transition: all .35s;
  width: 100%;
}

.project-description {
  color: transparent;
  font-weight: 100;
  transition: color .35s;
  margin: 0;
  padding-left: 1rem;
  width: 100%;
}

.project:hover .project-bottom {
  visibility: visible;
}

.project:hover .project-description, .project:hover .repo-link {
  color: #EEEEEE;
}

.repo-link {
  color: transparent;
  transition: color .35s;
}